<!DOCTYPE html>
<html>
	<head>
		{% extends "albedo/base.html" %}
		{% load static %}
		<link rel="stylesheet" href="{% static '/css/styles.css'%}">
		{% block content %}
		<title>Build "{{build.bname}}"</title>
	</head>
	<body>
	<form action = "http://127.0.0.1:8000/albedo/characters"></form>
		{%if build%}
		<div class="build">
			<p>  </p>
			<p>From author: <a href="{% url 'albedo:userbuilds' build.author %}">{{build.author}} </a></p>
			<h2>Build: "{{build.bname}}"</h2>
			<hr>
			<p>Party: {{build.cname}}, {{build.friend1}}, {{build.friend2}}, {{build.friend3}}</p>
			 <a href="{% url 'albedo:character' character.ename %}">
			<img src={{character.picture}} width="85" height="85" alt="{{character.ename}}"/>
			 <a href="{% url 'albedo:character' friend1.ename %}">
			<img src={{friend1.picture}} width="85" height="85" alt="{{build.friend1}}"/>
			 <a href="{% url 'albedo:character' friend2.ename %}">
			<img src={{friend2.picture}} width="85" height="85" alt="{{build.friend2}}"/>
			 <a href="{% url 'albedo:character' friend3.ename %}">
			<img src={{friend3.picture}} width="85" height="85" alt="{{build.friend3}}"/>
			

			<p></p>
			<p>Weapon: {{build.weapon}}</p>
			<img src={{weapon.picture}} width="85" height="85" style="margin-right: 10px;" alt="{{weapon.ename}}">
			<div class="build_grid">

				<div class="flower"><img src={{set1.flower}} width="85" height="85"/><p>Flower: {{build.flower}}</p></div>
				<div class="feather"><img src={{set1.feather}} width="85" height="85"/><p>Feather: {{build.feather}}</p></div>
				<div class="watches"><img src={{set1.sands}} width="85" height="85"/><p>Watches: {{build.sands}}</p></div>
				<div class="goblet"><img src={{set2.goblet}} width="85" height="85"/><p>Goblet: {{build.goblet}}</p></div>
				<div class="crown"><img src={{set2.circlet}} width="85" height="85"/><p>Crown: {{build.circlet}}</p></div>

			</div>
			<p>  </p>
		</div>

		{%endif%}
			<div class="buttons">
					<button style="margin-left: 25%; width: 24%; height: 75px; " onclick="history.back()">
						Назад
					</button>
			</div>

		{% endblock %}
	</body>
</html>
