{% extends "albedo/base.html" %}
{% block content %}
{% if characters %}

<select name="Оружие">
<option value="">Любое</option>
  <option value="Меч">Меч</option>
  <option value="Лук">Лук</option>
  <option value="Катализатор">Катализатор</option>
  <option value="Двуручный меч">Двуручный меч</option>
  <option value="Копьё">Копьё</option>
</select>
{% for character in characters %}
<form action = "{{character.link}}">
<button>{{character.name}}</button>
</form>
{% endfor %}
<form action = "http://127.0.0.1:8000/albedo">
<button>На главную</button>
</form>
{% endif %}
{% endblock %}




<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #F5F5DC;">
	  <div class="container-fluid">
		<a class="navbar-brand" href="#">Bibedo</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav"> 
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/albedo">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="http://127.0.0.1:8000/albedo/register">Register</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="http://127.0.0.1:8000/albedo/login">Login</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="http://127.0.0.1:8000/albedo/characters">Characters</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="http://127.0.0.1:8000/albedo/weapon">Weapon</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
