body {
  margin: 20px;
  font-family: Verdana, Helvetica, Arial;

  background-image: url("background1.png");
  background-size: 100%, 100%;


  background-color: #0A2647;
}

p {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
button {
  width: 200px;
  height: 50px;
  background: #205295;
  color: #F5F5DC;
  font-size: 20px;
  border: 0;
  border-radius: 7px;
  margin: 15px;
}
button:hover{
  background: #245EAB;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  color: #F5F5DC;
}

.home_button {
  grid-column: 2/4;
  grid-row: 1;
  background: white;
  border-radius: 10px;
}

.home_button:hover{
  background: #245EAB;
}

