<!DOCTYPE html>
    <html>
        <head>
            {% extends "albedo/base.html" %}
            {% load static %}
            <link rel="stylesheet" href="{% static '/css/styles.css'%}">

            {% block content %}
            <title>Home page</title>
            <style>
                .main_title{
                    text-align: center;
                }
            </style>
        </head>
        <body>
            <div class="main_title">
                <p> </p>
                <h1>Welcome to Bibedo website!</h1>
                <p>Here you can find builds of other people or create your own</p>
            </div>
            <img src="https://paimon.moe/images/characters/full/albedo.png" style="margin-right: 10px;" alt="альбеб">
            
            {%endblock%}
        </body>
</html>
