html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {

  font-family: Verdana, Helvetica, Arial;
  background-image: url("/static/img/background_image.jpg");
  background-repeat: no-repeat;
  background-size: auto, 500px;
  background-position: 	right 50px top max( 50%, 150px);
  background-color: #2e2e2e;
  color: #F5F5DC;
}

p {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #F5F5DC;
}
button {
  background: #383838;
  font-size: 20px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  color: #F5F5DC;

}
button:hover {
  background: rgba(156, 156, 156, 0.5);
}

img {
  padding: 0;

}

input {
  border-radius: 7px;
  border-size: 0px;
  margin: 10px;
  background-color: #383838;
  color: #F5F5DC;
}

select {
  border-radius: 7px;
  margin-top: 10px;
  background-color:  #383838;
  color: #F5F5DC;
  width: 150px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

/* менюшка */
.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-auto-rows: minmax(100px, auto);
  color: #F5F5DC;
  font-size: 40px;
  background-color: #242424;
  padding-left: calc(100vw - 100%);
}
/* home button */
.home_button_area {
  grid-column: 2;
  grid-row: 1;
  border-radius: 10px;

}

.home_button {
  display: block;
  align: center;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 35px;
}

.home_button:hover { color: #C2C2AE; background: transparent; }

/* register button */

.register_button_area {
  grid-column: 4;
  grid-row: 1;
  border-radius: 10px;
}

.register_button {
  display: block;
  align: center;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 35px;
}

.register_button:hover { color: #C2C2AE; background: transparent;}

/* login button */

.login_button_area {
  grid-column: 5;
  grid-row: 1;
  border-radius: 10px;
}

.login_button {
  display: block;
  align: center;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 35px;
}

.login_button:hover { color: #C2C2AE; background: transparent; }

/* characters button */

.characters_button_area {
  grid-column: 3;
  grid-row: 1;
  border-radius: 10px;
}

.characters_button {
  display: block;
  align: center;
  height: 100%;
  width: 100%;
  background: transparent;
  font-size: 35px;
}

.characters_button:hover { color: #C2C2AE; background: transparent; }



/* сетка персов */

.characters_wrapper {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(14, 10fr);
  grid-auto-rows: minmax( auto);
  color: #F5F5DC;
}

.characters_wrapper button {
  width: 116px;
  height: 150px;
}

.title_characters{
  grid-column: 4/12;
  grid-row: 1;
  row-height: 4000px;
}

.gap_column1 {
  grid-column: 1/4;
  grid-row: 1/10;
}
.gap_column2 {
  grid-column: 12/15;
  grid-row: 1/10;
}

/*login page*/

.login_input {
  width: 40%;
  background: #242424;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 30%;
}

.submit_login_button {

}

.build_button{
  height: 100px;
  width: 50%;
  text-align: left;
  margin-left: 25%;
  background: rgba(36,36,36,0.4);
}

/* build page */



.build{
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  background-color: #242424;
  border-radius: 10px;
  padding: 15px;
}

.make_build{
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  background-color: #242424;
  border-radius: 10px;
  padding: 15px;
}

/*make build grid*/

.make_build_wrapper {
  display: grid;
  row-gap: 15px;
  column-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 165px repeat(3, 100px);
  font-size: 20px;

}

.addbuild_subgrid {
  display: grid;
  grid-column: 4/8;
  grid-row: 2/5;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: subgrid;
  text-align: center;
}

.addbuild_build_name{
  grid-column: 4/8;
  grid-row: 1;
  font-size: 40px;

}

.addbuild_select_weapon {
  grid-column: 4;
  grid-row: 4;

}

.addbuild_set_arts1{
  grid-column: 5;
  grid-row: 4;

 }
.addbuild_set_arts2{
  grid-column: 6;
  grid-row: 4;

 }

.addbuild_watch{
  grid-column: 4;
  grid-row: 3;

}

.addbuild_cup{
  grid-column: 5;
  grid-row: 3;

}

.addbuild_crown{
  grid-column: 6;
  grid-row: 3;

}


.addbuild_ally1{
  grid-column: 4;
  grid-row: 2;

}

.addbuild_ally2{
  grid-column: 5;
  grid-row: 2;

}

.addbuild_ally3{
  grid-column: 6;
  grid-row: 2;

}



/*------------------------------*/

.character_make_build_button{
	
	background-color: rgba(36,36,36,0.4);
}

.character_back_button{
	
	background-color: rgba(36,36,36,0.4);
}

.character_make_build_button:hover{
	background: rgba(156, 156, 156, 0.5);
}
.character_back_button:hover{
	background: rgba(156, 156, 156, 0.5);
}

.back_button {
  width: 100px;
  height: 40px;
  background: white;
  color: black;
}

